#cart {
    border: 2px solid black;
    height: 550px;
    width: 300px;
    text-align: center;
    background-color: antiquewhite;
    gap: 10px;
   
}
#checkout {
    border: 2px solid black;
    height: 550px;
    width: 300px;
    text-align: center;
    background-color: lightblue;
}
#bird {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    border: 3px dashed rebeccapurple;
    height: 300px;
    width: 250px;
    text-align: center;
   
}
#bird img {
    height: 100px;
    width: 100px;
    text-align: left;
}

#body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}